<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package UpgradeCode="0A602749-404A-4192-84F3-9A7BA9F93EA1" Language="1033"
        Manufacturer="Pomerium" Name="Pomerium CLI" Version="$(var.version)">
        <MajorUpgrade AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="PomeriumCliFeature">
            <ComponentRef Id="CliExecutable" />
        </Feature>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="Pomerium\Pomerium CLI">
                <Component Id="CliExecutable">
                    <File Id="PomeriumCliExe" KeyPath="yes" Name="pomerium-cli.exe" Source="pomerium-cli.exe"></File>
                </Component>
            </Directory>
        </StandardDirectory>
    </Package>
</Wix>
